.oxshash{
    font-size: 25px;
    font-family: Roboto, sans-serif;
    padding: 18px 1%;
    font-weight: 500;
}
.image-gallery-using-mouse{
    display: flex;
    justify-content: center;
    align-items:center;
}

