/* App.css (yoki yaratgan boshqa fayl) */
  
  .regissterHead {
    text-align: center;
    padding: 12px 0;
  }
  
 
  @media screen and (max-width:577px){
    .regissterHead{
      text-align: center;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 320px){
    .btnRegister{
      width: 98%;
    }
  }