.BtnFavoriteEpmty{
    font-size:20px ;
    padding: 12px 25px;
}

@media screen and (max-width: 747px) {
    .TitleFavoriyeEmptyH1{
        font-size: 25px;
      }
      .TitleFavoriyeEmptyH3{
        font-size: 15px;
      }
      .BtnFavoriteEpmty{
        font-size:15px ;
        padding: 12px 20px;
      }
}

@media screen and (max-width: 400px){
    .BtnFavoriteEpmty{
        font-size:12px ;
        padding: 12px 20px;
      }
}